
<form class="example-form"  [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="emailFormControl" placeholder="Ex. pat@example.com">
      <mat-error *ngIf="signupForm.get('emailFormControl')?.hasError('email') && !signupForm.get('emailFormControl')?.hasError('required')">
        Please enter a valid email address
      </mat-error>
       <mat-error *ngIf="signupForm.get('emailFormControl')?.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" placeholder="xxxxxx">
      <mat-error *ngIf="signupForm.get('password')?.hasError('email') && !signupForm.get('password')?.hasError('required')">
        Please enter a valid password
      </mat-error>
       <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div class="example-button-row">
        <button mat-raised-button color="primary">Log In</button>
      </div>
  </form>
  {{signupForm.value | json}}